<h2>New Message</h2>

<form action='/messages' method='POST'>
    <p>
    <label for='recipient'>Recipient:</label>
    <input type='text' name='recipient' placeholder='Whose this going to?' required>
    </p>

    <p>
    <label for='message'>Message:</label>
    <textarea type='textarea' name='message' placeholder='Your Message Here' required></textarea>
    </p>

    <input type ='submit' value='Send'>
</form>