<h2><%=@studentclass.name%></h2>
<h3>Roster</h3>
    <% @studentclass.students.each do |student| %> 
        <p>
        <%=student.username%> 
        <% if student != current_student %>
        <%end%>
        </p>
    <%end%>
    <a href='/messages/new'>Message a Classmate</a>