<header class='second'>
<ul class='navbar'>
<li><a class='nav' href='/assignments'>Home</a></li>
<li><a class='nav' href='/messages/new'>Message a Classmate</a></li>
<li><a class='nav' href='/studentclasses'>Class Rosters</a></li>
<li><a class='nav' href='/logout'>Log out</a></li>
</ul>
</header>

<h2><%=@studentclass.name%></h2>
<h3>Roster</h3>
    <% @studentclass.students.each do |student| %> 
        <p>
        <%=student.username%> 
        <% if student != current_student %>
        <%end%>
        </p>
    <%end%>
   
