<header class='second'>
<ul class='navbar'>
<li><a class='nav' href='/assignments'>Home</a></li>
<li><a class='nav' href='/messages/new'>Message a Classmate</a></li>
<li><a class='nav' href='/studentclasses'>Class Rosters</a></li>
<li><a class='nav' href='/logout'>Log out</a></li>
</ul>
</header>
<h2><%=@student.username%>'s classes</h2>
<ul class = 'list'>
<% @studentclasses.each do |stclass| %>
    <li>
    <a href = "/studentclasses/<%=stclass.id%>"><%=stclass.name%>: </a><br>
    Assignments: <%= @student.assignments.select{|hw| stclass.id == hw.stucla_id}.count%>
    </li>
<%end%>
</ul>

