@media screen {
   /* --- Reset Styles --- */
   * {
     list-style: none;
     margin: 0;
     padding: 0;
   }
 
   html, body{
      height: 100%;
      width: 100%;
   }

   body {
      background-color: beige;
      color:beige;
      font-family: 'Courier New', Courier, monospace;      
      line-height: 18px;
   }

    /* The alert message box */
   div.wrapper div.alert {
      padding: 20px;
      margin-bottom: 15px;
   }
 
   /* The close button */
   div.wrapper .alert .closebtn {
      margin-left: 15px;
      font-weight: bold;
      float: right;
      font-size: 22px;
      line-height: 20px;
      cursor: pointer;
      transition: 0.3s;
   }
 
   /* When moving the mouse over the close button */
   .closebtn:hover {
      color: black;
   }
   
   img#pig{
      margin-top: 1.75%;
      
   }
   header{
      margin: 0% 0% 0% 9%; /* 18px / 800px */
      width: 85%;
      max-width: 1000px;
      padding-left: 1%;
      color: #333;
    }
   
    header.second{
      margin: 0;
      width: 100%;
      max-width: 1000px;
      padding: 0;
      background-color: orange;
   }

    ul.navbar{
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
   }

   ul.navbar li{
      float:left;
      border-right: 2px dotted #333;
      
   }

   ul.navbar li a{
      display: block;
      text-align: center;
      padding: 14px 16px;
   }

   .wrapper {
      background: darkgreen;
      -moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
      -webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
      box-shadow: 0 0 10px rgba(0,0,0,.3);
      margin: 16px auto;
      max-width: 960px;
      padding: 2.25%; /* 18px / 800px */
      width: 85%;
   }

   h1{
      font-family: 'Courier New', Courier, monospace;
      font-size: 40px;
      line-height: 54px;
   }

   h2 {
      border-bottom: 2px solid #ccc;
      font-size: 24px;
      line-height: 36px;
      margin-bottom: 16px;
    }

   h3 {
      font-size: 18px;
      line-height: 36px;
   }

   p {
      margin-bottom: 18px;
    }
  
   div.wrapper .nav{
      background-color: orange;
      color: white;
      padding: 14px 25px;
      text-align: center;
      text-decoration: none;
      display: flex;
   }

   div.wrapper a{
      color: orange;
   }
   div.wrapper a:visted{
      color:beige;
   }

   div.wrapper input[type=text], div.wrapper input[type=email], div.wrapper input[type=password] {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
   }

   div.wrapper textarea {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 10px;
      box-sizing: border-box;
   }
 
   input[type=submit] {
      width: 20%;
      background-color: #4CAF50;
      color: white;
      padding: 5px 15px;
      margin: 8px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
   }
 
   div.wrapper ul {
      display: inline-block;
      text-align: justify;
      font-size: 1.20em;
   }

   .branding {
      clear: both;
    }
  
    footer.branding {
      border-top: 2px solid #ccc;
      margin-top: 20px;
      padding-top: 20px;
    }

   
}