<h2>Here are your assignments</h2>
<ol>
<% @assignments.each do |assignment| %>
    <li>
    <a href= "/assignments/<%=assignment.id%>"><%=assignment.name%></a>
    </li>
<%end%>
</ol><br>

<a href='/assignments/new'>Create a New Assignment</a><br>
<a href='/studentclasses'>My Class Rosters</a><br>
<a href='/messages'>Messages</a><br>
<a href='/logout'>Log out</a>


    