<header class='second'>
<ul class ='navbar'>
<li><a class='nav' href='/assignments'>Home</a></li>
<li><a class='nav' href='/assignments/new'>Create a New Assignment</a></li>
<li><a class='nav' href='/studentclasses'>My Class Rosters</a></li>
<li><a class='nav' href='/messages'>Messages</a></li>
<li><a class='nav' href='/logout'>Log out</a></li>
</ul>
</header>
<h2>Here are your assignments</h2>
<ul class = 'list'>
<%if !!@assignments[0]%>
<% @assignments.each do |assignment| %>
    <li>
    <a href= "/assignments/<%=assignment.id%>"><%=assignment.name%></a><br>
    Due: <%=assignment.due_date%>
    </li>
<%end%>
<%else%>
    <li>
    Nothing to see here 
    <a href= "/assignments/new">Create a new assignment</a>
    </li>
<%end%>
</ul><br>




    