<h2>Here are your assignments</h2>
<ul>
<% @assignments.each do |assignment| %>
    <li>
    <a href= "/assignments/<%=assignment.id%>"><%=assignment.name%></a>
    </li>
<%end%>
</ul><br>

<a class='nav' href='/assignments/new'>Create a New Assignment</a><br>
<a class='nav' href='/studentclasses'>My Class Rosters</a><br>
<a class='nav' href='/messages'>Messages</a><br>
<a class='nav' href='/logout'>Log out</a>


    