<h2>Edit Assignment</h2>
<form action='/assignments' method='POST'>
    <input id ="hidden" type ="hidden" name='_methood' value='patch'>
    <p>
    <label for='class_name'>Class Name</label>
    <input type ='text' name='class_name' placeholder='Class' required>
    </p>
    <label for='name'>Name</label>
    <input type ='text' name='name' placeholder='Name' required>
    <p>
    <label for='due_date'>Due Date</label>
    <input type ='text' name='due_date' placeholder='Due Date'>
    </p>
    <input type='submit' value='Edit'>
</form>
    